* {
    font-family: "Playwrite AU SA", cursive;
}

body {
    background-color: #d4bea1;
  }

  /*changing header2 colors to green*/
h2 {
    color: green;
    position: relative;
    left: 1cm;
}

.important {
    font-style: italic;
    margin: auto;
    text-decoration: underline;
}

#title {
    position: sticky;
    color: rgb(187, 34, 34);
    background-color: white;
    text-align: center;
    border-style: dotted;
    border-color: gray;
    border-width: 1pt;
    border-radius: 1pt;
    margin: 2em 2em 2em 2em;
    padding: 2vh 2vh 2vh 2vh;
}

#img {
    position: relative;
    left: 550px;
    border: 2px solid gray;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

ol {
    position: relative;
    left: 20mm;
}

p, h3 {
    color: hsl(120, 33%, 1%);
    position: relative;
    left: 2cm;
    max-width: 1200px;
}

#q1 {
    color: color(srgb 0.7 0.5 0.7);
}

#q2 {
    color: color-mix(in srgb, red, black);
}

#content {
    --text-color: purple;
    color: var(--text-color, green);
}

form {
    display: flex;
    flex-direction: row;
    order: 3;
    justify-content: center;
    position: relative;
    max-width: 1500px;
    min-width: 200px; 
}

#media {
    display: grid;
    grid-template-columns: 1px 1px;
    grid-template-rows: 50px 100px;
    row-gap: 20px;
    position: relative;
    left: 2cm;
}

form + img {
    position: relative;
    top:10px;
    left: 13cm;
    width: 300px;
    height: 300px;
}

#button {
    border: 1px solid gray;
    border-radius: 10px;
}

button:hover {
    background-color: pink;
}

button:active {
    background-color: red;
}

@media (max-width: 1000px) {
    .forms {
        max-width: 500px;
    }
}

a[href = "#agenda"] {
    color: peru;
}

.paragraph p {
    color: blueviolet;
}

ul > li {
    color: peru;
}

h4 ~ form {
    color: yellow;
}

li.list {
    color: maroon;
}

h3:has(+ p) {
    color: purple;
}

details {
    color: orange;
    & summary {
        color: red;
    }
}
